@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  color: black;
}



